<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rpc="http://com.hjk.rpc/schema/rpc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://com.hjk.rpc/schema/rpc http://com.hjk.rpc/schema/rpc.xsd">

    <context:property-placeholder location="classpath:rpc.properties"/>

    <rpc:zookeeper zkAddress="${zkAddress}" sessionTimeoutInMillis="${zkSessionTimeout}"/>

    <!--<rpc:server server="testServer" port="1234">-->
        <!--<rpc:service class="com.hjk.rpc.sample.api.Transportsport"/>-->
    <!--</rpc:server>-->

    <rpc:client server="testServer">
        <rpc:interface id="user" class="com.hjk.rpc.sample.api.Transport"/>
    </rpc:client>

</beans>